<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

    <table>
            <tr>
            <th>DATETIME</th>
            <th>TEMP</th>
            <th>WIND_SPEED</th>
            <th>DESCRIPTION</th>
            <th>IMAGE</th>

            </tr>
            <tbody>
                    <tr th:each="h, iter : ${hour}">
                        <div th:if="${iter.index}%3==0">
                        <td><span th:text="${h.getDatetime().substring(11, 13) + ':00'}"></span></td>
                        <td><span th:text="${h.getTemp() + 'C'}"></span></td>
                        <td><span th:text="${h.getWind_spd()}"></span></td>
                        <td><span th:text="${h.getWeather().getDescription()}"></span></td>
                            <td><img th:src="'https://www.weatherbit.io/static/img/icons/'+${h.getWeather().getIcon()
                            +'.png'}" alt="" width="50px"></td>
                        </div>
                    </tr>
            </tbody>
        </table>

</body>
</html>