<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${'City name is:' + w.city_name}"></h1>
    <h1 th:text="${'TImezoen is: ' + w.getTimezone()}">HJKDFHGklsdfik</h1>
    <h1 th:text="${'Min temp:' + w.getData().get(0).min_temp}">HJKDFHGklsdfik</h1>
    <h1 th:text="${'Max temp:' + w.getData().get(0).max_temp}">HJKDFHGklsdfik</h1>
    <h1 th:text="${'AVG temp:' + w.getData().get(0).temp}">HJKDFHGklsdfik</h1>

</body>
</html>